@import 'src/custom-theme.scss';

.plans-container {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &.home-screen-plan-container {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  h2 {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;

  }

  .subtitle {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #6c6c6c;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }


  .carousel {
    height: 460px !important;
    display: flex;
  }

  .carousel-cell {
    width: 100%;
    border-radius: 24px;
  }

  @media screen and (max-width: 769px) {
    margin-top: 0px;

    h1 {
      text-align: center;
      font-size: 22px;
    }

    .divider {
      margin: 0 auto;

      margin-bottom: 20px;
    }
  }
}
