<section class="plans-container">
    <h1>Our Plans</h1>
    <div class="divider"></div>
    <carousel
        [cellsToScroll]="1"
        [cellsToShow]="3"
    >
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
</carousel>

</section> 
<!-- <div class="horizontal-container">
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
    </div>

    <section class="controller">
      <button id="action-left">Left</button>
      <button id="action-right">Right</button>
    </section> -->
