<section class="plans-container">
    <h2>Our Plans</h2>
    <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe est esse, reiciendis corrupti unde harum?</p>
    <carousel
        [cellWidth]="300"
        
    >
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
    <div class="carousel-cell">
        <sevenx-card></sevenx-card>
    </div>
</carousel>

</section> 
<!-- <div class="horizontal-container">
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
      <div class="ticket"></div>
    </div>

    <section class="controller">
      <button id="action-left">Left</button>
      <button id="action-right">Right</button>
    </section> -->
