@import "src/custom-theme.scss";

.banner-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;

  // animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .banner-left {
    width: 50%;
    // animation: 1s ease-out 0s 1 slideInFromTop;
    // margin-right: 40px;

    h2 {
      font-size: 44px;
      line-height: 120%;
      // color: rgba(49, 66, 89, 1);
      // color: $fontPrimaryColor;
      color: $fontHeaderColor;
      font-weight: 900;
    }

    p {
      font-weight: 500;
      font-size: 20px;
      // color: rgba(144, 146, 163, 0.7);
      color: $fontSecondaryColor;
    }
  }

  .banner-right {
    width: 50%;
    text-align: right;
  }

  @media only screen and (max-width: 769px) {
    flex-direction: column-reverse;
    padding: 0 10px;

    .banner-left {
      width: 100%;
      margin: 0px;
      text-align: center;

      h1 {
        font-size: 32px;
        line-height: 120%;
      }

      p {
        font-size: 16px;
      }
    }

    .banner-right {
      width: 100%;
      text-align: center;

      h3 {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.2;
      }

      h5 {
        font-size: 12px;
      }
    }
  }
}

.search-menu-list {
  width: 20rem;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;

  > li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }
  }
}


@keyframes fadeInAnimation { 
    0% { 
        opacity: 0.5; 
    } 
    100% { 
        opacity: 1; 
    } 
}

.banner-container {
  width: 100%;
  height: calc(100vh - 5rem);
  background: url(../../../../assets/hero-bg.png) top center no-repeat;
  background-size: cover;
  > div {
    margin: 0 5%;
  }
  .banner-container-img {
      text-align: right;
  }
  h1 {
      margin: 0;
      font-size: 70px;
      font-weight: 500;
      color: $textColor;
      animation: 1s ease-out 0s 1 fadeInAnimation;
  }
  .search-container {
    position: relative;
    margin-top: 60px;
  
    h1 {
      font-size: 40px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      font-weight: bolder;
    }
  
    h5 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 40px;
    }
  
    .form-group {
      display: flex;
      justify-content: center;
      border: 1px solid #ced4da;
      border-radius: 25px;
      padding: 5px;
      width: 60%;
      margin: 0 auto;
      align-items: center;
      background-color: white;
  
      input {
        width: 100%;
        border: none;
        border-radius: 25px;
        min-height: 40px;
      }
    }
  
    .popular-tags-section {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
      font-size: 20px;
      flex-wrap: wrap;
  
      li {
        display: inline-block;
        margin: 5px;
        list-style: none;
        padding-bottom: 10px;
  
        a {
          font-size: 17px;
          padding-left: 5px 15px;
          border-radius: 25px;
          background-color: rgba($color: $primaryColor, $alpha: 0.2);
          padding: 10px 20px;
          transition: 0.3s ease-in-out;
          white-space: nowrap;
  
          &:hover {
            // background: $primaryColor;
            // color: white;
            cursor: pointer;
            box-shadow: $panelBoxShadow;
          }
        }
      }
    }
  
    // @media only screen and (max-width: 769px) {
    //   .popular-tags-section {
    //     margin-top: 0;
    //     li {
    //       a {
    //         padding: 0;
    //       }
    //     }
    //   }
    // }
  }
}
  
@media (min-width: 1024px) {
    .banner-container {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .banner-container {
        height: auto;
        // padding: 120px 0 60px 0;
    }
    .banner-container .banner-container-img {
        text-align: center;
        margin-top: 80px;
    }
    .banner-container .banner-container-img img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .banner-container {
        text-align: center;
        > div {
          margin: 0;
        }
    }
    .banner-container h1 {
        font-size: 32px;
    }
    .banner-container .banner-container-img img {
        width: 100%;
    }
}