@import "src/custom-theme.scss";

.search-container {
  position: relative;

  h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    font-weight: bolder;
  }

  h5 {
    font-size: 20px;
    text-align: center;
  }

  .form-group {
    display: flex;
    justify-content: center;
    border: 1px solid #ced4da;
    border-radius: 25px;
    padding: 5px;
    width: 60%;
    margin: 0 auto;

    input {
      width: 100%;
      border: none;
      border-radius: 25px;
    }
  }

  .popular-tags-section {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      margin: 5px;
      list-style: none;

      a {
        font-size: 12px;
        padding-left: 5px 15px;
        border-radius: 25px;
        background-color: #f6f4f4;
        padding: 5px;
        transition: 0.3s ease-in-out;

        &:hover {
          background: $primaryColor;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .banner-left {
    width: 40%;
    margin-right: 40px;

    h2 {
      font-size: 44px;
      line-height: 120%;
      color: rgba(49, 66, 89, 1);
      font-weight: 900;
    }

    p {
      font-weight: 500;
      font-size: 20px;
      color: rgba(144, 146, 163, 0.7);
    }
  }

  .banner-right {
    width: 50%;
    text-align: right;

    h3 {
      font-size: 30px;
      font-weight: 400;
      line-height: 1.2;
    }

    h5 {
      font-size: 15px;
    }

    .form-group {
      display: flex;
      justify-content: center;
      border: 1px solid #ced4da;
      border-radius: 25px;
      padding: 5px;

      input {
        width: 100%;
        border: none;
        border-radius: 25px;
      }
    }

    .popular-tags-section {
      list-style: none;
      display: flex;

      li {
        display: inline-block;
        margin: 5px;
        list-style: none;

        a {
          font-size: 12px;
          padding-left: 5px 15px;
          border-radius: 25px;
          background-color: #f6f4f4;
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: "yellow";
          }
        }
      }
    }
  }

  @media only screen and (max-width: 769px) {
    flex-direction: column-reverse;
    padding: 0 10px;

    .banner-left {
      width: 100%;
      margin: 0px;
      text-align: center;

      h1 {
        font-size: 32px;
        line-height: 120%;
      }

      p {
        font-size: 16px;
      }
    }

    .banner-right {
      width: 100%;
      text-align: center;

      h3 {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.2;
      }

      h5 {
        font-size: 12px;
      }

      .form-group {
        display: flex;
        justify-content: center;
        border: 1px solid #ced4da;
        border-radius: 25px;
        padding: 5px;

        input {
          width: 100%;
          border: none;
          border-radius: 25px;
        }
      }

      .popular-tags-section {
        list-style: none;
        display: flex;
        flex-wrap: wrap;

        li {
          display: inline-block;
          margin: 5px;
          list-style: none;

          a {
            font-size: 12px;
            padding-left: 5px 15px;
            border-radius: 25px;
            background-color: #f6f4f4;
            transition: 0.3s ease-in-out;

            &:hover {
              background-color: "yellow";
            }
          }
        }
      }
    }
  }
}

.sub-section {
  text-align: center;

  h3 {
    font-size: 30px;
  }

  .features {
    display: flex;
    justify-content: space-around;

    &-section {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      width: 25%;
      padding: 15px;
      border-radius: 10px;
      transition: transform 0.5s;

      span {
        img {
          width: 100px;
        }
      }

      .details {
        p {
          font-size: 16px;
          font-weight: bold;
        }

        span {
          font-size: 12px;
          color: #ccc;
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  @media only screen and (max-width: 769px) {
    background-color: #fafafa;
    padding: 15px 0 45px;

    .features {
      flex-direction: column;

      &-section {
        margin-top: 20px;

        p {
          margin: 5px;
        }
      }
    }
  }
}

.search-menu-list {
  width: 20rem;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;

  > li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }
  }
}
