<div class="search-container">
    <h1>We register 10% of all Indian companies</h1>
    <h5>That’s one company every 9 minutes</h5>
    <div class="form-group">
        <i class="material-icons">search</i>
        <input type="text" id="dynamic-placeholder" [superPlaceholder]="placeholder_samples" [(ngModel)]="searchText"
            (ngModelChange)="searchTextChangeHandler($event)" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
            autocomplete="off" />
    </div>
    <ul class="popular-tags-section">
        <li>Popular: </li>
        <li><a routerLink="#">Company Registration</a></li>
        <li><a routerLink="#">Company Registration</a></li>
        <li><a routerLink="#">Company Registration</a></li>
        <li><a routerLink="#">Company Registration</a></li>
    </ul>
</div>

<div class="banner-container">
    <div class="banner-left">
        <h2>Let's build Something Big Together</h2>
        <p>We are India’s largest tax and financial services software platform for individuals, tax experts, SMEs and
            enterprises with income tax returns, GST, e-Invoicing, billing solutions and more.</p>
    </div>
    <div class="banner-right">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
</div>

<div class="sub-section">
    <h3><b>India's Best Professional Platform</b></h3>
    <div class="features">
        <div class="features-section">
            <span>
                <img src="assets/best1.svg" alt="Icon" />
            </span>
            <div class="details">
                <p>Legal</p>
                <span>Your documents, contracts, and registrations handled by expert lawyers.</span>
            </div>
        </div>
        <div class="features-section">
            <span>
                <img src="assets/best2.svg" alt="Icon" />
            </span>
            <div class="details">
                <p>Legal</p>
                <span>Your documents, contracts, and registrations handled by expert lawyers.</span>
            </div>
        </div>
        <div class="features-section">
            <span>
                <img src="assets/best3.svg" alt="Icon" />
            </span>
            <div class="details">
                <p>Legal</p>
                <span>Your documents, contracts, and registrations handled by expert lawyers.</span>
            </div>
        </div>
    </div>
</div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="shouldShowSearchResults">
    <ng-container *ngIf="matchedNavigationList && matchedNavigationList.length">
        <ul class="search-menu-list">
            <li *ngFor="let navigationItem of matchedNavigationList"
                (click)="navigationItemClickHandler(navigationItem)">
                {{navigationItem.label}}
            </li>
        </ul>
    </ng-container>
</ng-template>