@import '../../custom-theme.scss';

.header-main-container {
    display: flex;
    .company-logo-container {
        cursor: pointer;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .products-sidenav-wrapper-container {
        position: fixed;
        margin-top: 0.25rem;
        box-shadow: $menuOrOverlayBoxShadow;
        padding: 1rem;
        width: auto;
        background-color: $backgroundColor;
        height: calc(100% - 7rem);
        top: 4rem;
        left: 0rem;
        right: 0rem;
        overflow-y: auto;
        z-index: 99999999;
        .products-sidenav-container {
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            font-size: 17px;
            font-weight: 700;
            &:hover {
                cursor: pointer;
                color: $primaryColor;
            }
            .products-sidenav-header-item-label-container {
                width: 95%;
            }
        }
        .product-sidenav-expanded-container {
            padding: 0.5rem;
            .products-sidenav-expanded-section-container {
                .product-sidenav-padding-container {
                    padding: 0 1rem;
                }
                .products-sidenav-expanded-section-name-container {
                    // font-size: 1.5rem;
                    // padding-bottom: 0.5rem;
                    // padding-left: 0.5rem;
                    // cursor: default;
                    // border-bottom: 1px solid;
                    // margin-right: 0.5rem;
                    // margin-bottom: 0.5rem;
                    font-size: 1rem;
                    padding: 0.5rem 0;
                    cursor: default;
                    font-weight: 700;
                    font-family: $fontFamily;
                    &.products-sidenav-expanded-section-name-navigable-container {
                        border-radius: 0.5rem;
                        cursor: pointer;
                        &:hover {
                            padding-left: 0.5rem;
                            background-color: rgba($color: $primaryColor, $alpha: 0.4);
                        }
                    }
                }
                .products-sidenav-item-container {
                    div {
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba($color: $primaryColor, $alpha: 0.4);
                        }
                    }
                }
            }
        }
    }
    .products-list-wrapper-container {
        width: 70%;
        z-index: 99999999;
        .products-list-container {
            .products-menu-button-container {
                display: flex;
                height: 100%;
                align-items: center;
                padding: 0 1rem;
                font-size: 17px;
                font-weight: 700;
                &:hover {
                    cursor: pointer;
                    color: $primaryColor;
                }
            }
            .product-list-overlay-container {
                position: fixed;
                display: none;
                margin-top: 0.25rem;
                box-shadow: $menuOrOverlayBoxShadow;
                padding: 1rem 0;
                .products-list-overlay-section-container {
                    .product-list-section-padding-container {
                        padding: 0 2rem;
                    }
                    .products-list-overlay-section-name-container {
                        // font-size: 1.5rem;
                        // padding-bottom: 0.5rem;
                        // padding-left: 0.5rem;
                        // cursor: default;
                        // border-bottom: 1px solid;
                        // margin-right: 0.5rem;
                        // margin-bottom: 0.5rem;
                        font-size: 1rem;
                        padding: 0.5rem 0;
                        cursor: default;
                        font-weight: 700;
                        font-family: $fontFamily;
                        &.products-list-overlay-section-name-navigable-container {
                            border-radius: 0.5rem;
                            cursor: pointer;
                            &:hover {
                                padding-left: 0.5rem;
                                background-color: rgba($color: $primaryColor, $alpha: 0.4);
                            }
                        }
                    }
                    .products-list-item-container {
                        div {
                            padding: 0.25rem;
                            border-radius: 0.5rem;
                            cursor: pointer;
                            &:hover {
                                background-color: rgba($color: $primaryColor, $alpha: 0.4);
                            }
                        }
                    }
                }
            }
            &:hover {
                .product-list-overlay-container {
                    display: flex;
                    width: auto;
                    background-color: $backgroundColor;
                    height: auto;
                    top: 4rem;
                }
            }
        }
    }
    .header-buttons-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    /* Extra small devices (phones, 768px and down) */
    @media only screen and (max-width: 768px) {
        .company-logo-container {
            width: 30%;
        }
        .header-buttons-container {
            width: 70%;
        }
        .products-list-wrapper-container {
            display: none;
        }
        .products-sidenav-wrapper-container {
            display: block;
        }
        .product-list-overlay-container {
            left: 0rem;
            right: 0rem;
        }
    }

    /* Small devices (portrait tablets and large phones, 768px and up) */
    @media only screen and (min-width: 768px) {
        .company-logo-container {
            width: 25%;
        }
        .header-buttons-container {
            width: 75%;
        }
        .products-list-wrapper-container {
            display: none;
        }
        .products-sidenav-wrapper-container {
            display: block;
        }
        .product-list-overlay-container {
            left: 0rem;
            right: 0rem;
        }
    }

    /* Normal devices (small size laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .company-logo-container {
            width: 15%;
        }
        .header-buttons-container {
            width: 15%;
        }
        .products-list-wrapper-container {
            display: flex;
        }
        .products-sidenav-wrapper-container {
            display: none;
        }
        .product-list-overlay-container {
            left: 5rem;
            right: 5rem;
        }
        .open-slider-button {
            display: none;
        }
        .close-slider-button {
            display: none;
        }
    } 

    /* Large devices (large laptops and normal desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .company-logo-container {
            width: 15%;
        }
        .header-buttons-container {
            width: 15%;
        }
        .products-list-wrapper-container {
            display: flex;
        }
        .products-sidenav-wrapper-container {
            display: none;
        }
        .product-list-overlay-container {
            left: 5rem;
            right: 5rem;
        }
        .open-slider-button {
            display: none;
        }
        .close-slider-button {
            display: none;
        }
    }

    /* Extra large devices ( large size desktops, 1536px and up */
    @media only screen and (min-width: 1536px) {
        .company-logo-container {
            width: 15%;
        }
        .header-buttons-container {
            width: 15%;
        }
        .products-list-wrapper-container {
            display: flex;
        }
        .products-sidenav-wrapper-container {
            display: none;
        }
        .product-list-overlay-container {
            left: 10rem;
            right: 10rem;
        }
        .open-slider-button {
            display: none;
        }
        .close-slider-button {
            display: none;
        }
    }
}

.mat-menu-panel {
    .mat-menu-content {
        .mat-menu-item {
            .icon-container.fa {
                padding-right: 0.5rem;
            }
        }
    }
}