<div class="header-main-container height100 width100">
    <div class="company-logo-container height100" routerLink="app">
        <img src="assets\dummy_logo.png" alt="image"/>
    </div>
    <div class="products-menu-button-container">
        Products
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="header-buttons-container">
        <button mat-icon-button>
            <mat-icon matBadge="0" matBadgeColor="primary">shopping_cart</mat-icon>
        </button>
        <button mat-raised-button color="primary" routerLink="login">Login</button>
    </div>
</div>