@import '../../../custom-theme.scss';

.consultant-list-main-container {
    padding: 1rem 3rem;
    .consultant-list-header-container {
        font-size: 24px;
        font-weight: 700;
        padding-left: 1rem;
    }
    .consultant-list-created-date-column-container {
        width: calc(100% / 6);
    }
    .consultant-list-name-column-container {
        width: calc(100% / 6);
    }
    .consultant-list-email-column-container {
        width: calc(100% / 6);
    }
    .consultant-list-contact-number-column-container {
        width: calc(100% / 6);
    }
    .consultant-list-state-column-container {
        width: calc(100% / 6);
    }
    .consultant-list-service-column-container {
        width: calc(100% / 6);
    }
}