<section class="about-us-container">
    <h1>Dedicated Team For Your Dedicated Dreams</h1>
    <div>
        <img />
    </div>
    <h3>Our Story</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, illo assumenda facere, tempora blanditiis accusantium delectus eveniet nemo quas accusamus autem dignissimos aut libero reiciendis iusto quam nobis voluptas sunt! Aperiam ad neque expedita consectetur ipsum quidem et sed corporis, vitae in esse facilis necessitatibus distinctio obcaecati a reiciendis commodi.</p>
    <div>
        <img />
    </div>
    <h3>Our Team</h3>
    <!-- <carousel>
        <div class="carousel-cell"></div>
    </carousel> -->
    <div>
        <h3>Our value</h3>
        <div class="values-container">
            <div class="value-item">
                <figure><img src="" /></figure>
                <div>
                    <p>Selfless</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, corrupti!</span>
                </div>
            </div>
            <div class="value-item">
                <figure><img src="" /></figure>
                <div>
                    <p>Selfless</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, corrupti!</span>
                </div>
            </div>
            <div class="value-item">
                <figure><img src="" /></figure>
                <div>
                    <p>Selfless</p>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, corrupti!</span>
                </div>
            </div>
        </div>
    </div>
</section>