<div class="contact-container content-width-resolution-wise">
    <header class="header">
        Contact Us
    </header>
    <div class="contact-details">
        <div>
            <figure>
                <i class="icon-container fa fa-user-circle"></i>
            </figure>
            <p>Phone</p>
            <span>+91398837443</span>
        </div>
        <div>
            <figure>
                <i class="icon-container fa fa-user-circle"></i>
            </figure>
            <p>Phone</p>
            <span>+91398837443</span>
        </div>
        <div>
            <figure>
                <i class="icon-container fa fa-user-circle"></i>
            </figure>
            <p>Phone</p>
            <span>+91398837443</span>
        </div>
    </div>
    <div class="contact-form-section">
        <form>
            <input type="text" placeholder="Name" />
            <input type="email"  placeholder="Email"/>
            <input type="number" placeholder="Phone Number" />
            <input type="text" placeholder="Subject" />
            <textarea placeholder="Message"></textarea>
        </form>
        <div class="image">
            <img src="assets/contact-us.svg" />
        </div>
    </div>
    <div class="address">
        <p></p>
    </div>
    <!-- <div class="width100 sevenx-google-map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14668.916369885455!2d72.60855757006124!3d23.198320280691934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa82fad900248f110!2sSaundarya%20444%20Flat!5e0!3m2!1sen!2sin!4v1626617927083!5m2!1sen!2sin"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div> -->
</div>