<!-- <div class="choose-container">
    <div class="left">
        <h1>Reasons Why Our Customers Love Us</h1>
        <div class="divider"></div>
        <ul>
            <li>No Hidden Charges</li>
            <li>Confidential & Safe</li>
            <li>Complete Satisfaction</li>
            <li>Expert's Assistance</li>
            <li>DPIIT Recognized Startup</li>
        </ul>
    </div>
    <div class="right">
        <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
</div> -->

<div class="choose-container">
    <h2>Why 7xStartup</h2>
    <!-- <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat officiis aliquid doloribus aspernatur voluptatibus. Hic?</p> -->
    <div class="reasons">
        <div class="reasons-item">
            <img src="assets/seo.svg" />
            <p>Expert's Assistance & No Hidden Charges</p>
        </div>
        <div class="reasons-item">
            <img src="assets/payment.svg" />
            <p>Confidential & Safe</p>
        </div>
        <div class="reasons-item">
            <img src="assets/payment.svg" />
            <p>Complete Satisfaction</p>
        </div>
        <div class="reasons-item">
            <img src="assets/seo.svg" />
            <p>DPIIT Recognized Startup</p>
        </div>
    </div>
</div>
