.about-container {
  text-align: center;
  margin-top: 150px;

  h2 {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #6c6c6c;
    width: 50%;
    margin: 0 auto;
  }

  &-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description {
      width: 50%;
      text-align: left;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.08px;
      font-weight: 400;
    }

    figure {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}
