<section class="about-container">
    <h2>Our Mission</h2>
    <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro natus repellat aut vel assumenda cumque.</p>
    <div class="about-container-section">
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta fugiat minus voluptatum magnam deleniti reiciendis eum incidunt, aliquam totam quos, neque eveniet iusto nisi debitis! Quam eos non, repellendus reiciendis molestias repudiandae inventore quidem voluptate sapiente veritatis voluptas distinctio voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, distinctio.
        </div>
        <figure>
            <img src="assets/about.svg" />
        </figure>
    </div>
</section>