<div class="aboutus-container">
    <h1>About Us</h1>
    <div class="divider"></div>

    <p class="description">ExpertBells is India's leading online business services platform dedicated to assist entrepreneurs easily start and grow the business at affordable cost. We have rendering quality services from planning to setting up the business by fulfilling all legal and regulatory requirements. We ensure that our clients are operating at the highest level of efficiency. We continually upgrade ourselves to improve our services and customer satisfaction.</p>
    <div class="read-more">
        Read More
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="ArrowRight"><path d="M4 12h16"/><path d="M13 5l7 7-7 7"/></svg>
    </div>
</div>
