<!-- <section class="about-container">
    <h2>Our Mission</h2>
    <div class="about-container-section">
        <div class="description">
            <span>
                To provide our clients the highest quality of services with integrity & independence in timely,
                efficient, responsible and innovative manner by a team of professionals that clearly enjoy working
                together to exceed the clients' needs.
            </span>
            <span>
                To be a leader in the areas of operation, so that the best opportunity to progress and grow at all
                levels is available to all associated with the Firm, thereby directly serving the best-interests of the
                Firm’s clients.
            </span>
        </div>
        <figure>
            <img src="assets/about.svg" />
        </figure>
    </div>
</section> -->

<section class="about-container">
    <h2>Why 7xStartup</h2>
    <div class="about-container-section">
        <div class="animation-section-container">
            <ng-lottie [options]="reasonAnimationMap[currentSelectedOptionIndex]['animation']">
            </ng-lottie>
        </div>
        <div class="description">
            <div class="our-values">
                <ng-container *ngFor="let reason of reasonAnimationMap; let index = index">
                    <span [ngClass]="{'current-selected-reason': currentSelectedOptionIndex === index}" (click)="currentSelectedOptionIndex = index">
                        {{ reason.reason }}
                    </span>
                </ng-container>
            </div>
        </div>
    </div>
</section>