<div class="footer-social-media-handles-main-container width100">
    <div class="footer-social-media-section-navigation-links-list-container">
        <div class="footer-social-media-section-navigation-link-container">Terms & Conditions</div>
        <div class="footer-social-media-section-navigation-link-container">Privacy Policy</div>
        <div class="footer-social-media-section-navigation-link-container">Refund Policy</div>
    </div>
    <div class="footer-social-media-icons-list-container">
        <div class="icon-container fa fa-twitter-square" (click)="successMessageGrowl()"></div>
        <div class="icon-container fa fa-facebook-square" (click)="errorMessageGrowl()"></div>
        <div class="icon-container fa fa-linkedin" (click)="warnMessageGrowl()"></div>
        <div class="icon-container fa fa-instagram" (click)="infoMessageGrowl()"></div>
    </div>
</div>