.sevenx-login-container {
    .sevenx-login-content-container {
        height: 100%;
        margin: auto;
        width: 300px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
        .sevenx-login-sign-in-header {
            font-family: GorditaMedium, sans-serif;
            font-size: 28px;
            line-height: 30px;
            margin: 0 0 8px;
        }
        .sevenx-login-section-container {
            .sevenx-login-form-container {
            }
        }
    }
}
