<div class="sevenx-login-container height100 width100">
  <div class="sevenx-login-content-container">
    <div class="sevenx-login-sign-in-header">
      Sign in
    </div>
    <div class="sevenx-login-section-container">
      <div class="sevenx-login-form-container">
        <form [formGroup]="loginForm" (ngSubmit)="logIn()">

          <div class="sevenx-label-input-group">
            <label>Email:</label>
            <input formControlName="email" type="email" placeholder="Email" class="">
          </div>

          <div class="sevenx-label-input-group">
            <label>Email:</label>
            <label>Password:</label>
            <input formControlName="password" type="password" placeholder="Password"  class="">
          </div>

          <button class="gitdemo-button" type="submit">LogIn</button>
          
        </form>
      </div>
      <div class="sevenx-google-auth-container">
        <sevenx-google-authorization
          [googleAuthorizationOpenedFrom]="googleAuthorizationOpenedFrom"
          (eSocialUser)="solialUserHandler($event)">
        </sevenx-google-authorization>
      </div>
    </div>
  </div>
</div>

