<nav>
    <button (click)="[scrollToElement(overview)]">Overview</button>
    <button (click)="[scrollToElement(types)]">Types</button>
    <button (click)="[scrollToElement(benefits)]">Benefits</button>
    <button (click)="[scrollToElement(listicles)]">Listicles</button>
    <button (click)="[scrollToElement(procedure)]">Registration Procedure</button>
    <button (click)="[scrollToElement(support)]">7x Support</button>
    <button (click)="[scrollToElement(support)]">Doubts</button>
    <button (click)="[scrollToElement(support)]">Sessions</button>
    <button (click)="[scrollToElement(support)]">Mentorship</button>
 </nav>
<div class="sections-container">
<div #overview class="">
    <h2>HTML</h2>
    <p>Lorem ipsulm dolor sit amet rem adipisci delectus? consectetur adipisicing elit. Ipsam cum, voluptate vero, blanditiis voluptatum aut consectetur et in quam rem adipisci delectus enim quod a laudantium perferendis ad possimus culpa?</p>
</div>
<div #types class = "item">
    <h2>CSS3</h2>
    <p>Lorem ipsulm dolor sit amet rem adipisci delectus? consectetur adipisicing elit. Ipsam cum, voluptate vero, blanditiis voluptatum aut consectetur et in quam rem adipisci delectus enim quod a laudantium perferendis ad possimus culpa?</p>
</div>
<div #benefits class = "item">
    <h2>Javascript</h2>
    <p>Lorem ipsulm dolor sit amet rem adipisci delectus? consectetur adipisicing elit. Ipsam cum, voluptate vero, blanditiis voluptatum aut consectetur et in quam rem adipisci delectus enim quod a laudantium perferendis ad possimus culpa?</p>
</div>
<div #listicles class = "item">
    <h2>jQuery</h2>
    <p>Lorem ipsulm dolor sit amet rem adipisci delectus? consectetur adipisicing elit. Ipsam cum, voluptate vero, blanditiis voluptatum aut consectetur et in quam rem adipisci delectus enim quod a laudantium perferendis ad possimus culpa?</p>
</div>
<div #procedure class = "item">
    <h2>jQuery</h2>
    <p>Lorem ipsulm dolor sit amet rem adipisci delectus? consectetur adipisicing elit. Ipsam cum, voluptate vero, blanditiis voluptatum aut consectetur et in quam rem adipisci delectus enim quod a laudantium perferendis ad possimus culpa?</p>
</div>
<div #support class = "item">
    <h2>jQuery</h2>
    <p>Lorem ipsulm dolor sit amet rem adipisci delectus? consectetur adipisicing elit. Ipsam cum, voluptate vero, blanditiis voluptatum aut consectetur et in quam rem adipisci delectus enim quod a laudantium perferendis ad possimus culpa?</p>
</div>
<div #other class = "item">
    <h2>jQuery</h2>
    <p>Lorem ipsulm dolor sit amet rem adipisci delectus? consectetur adipisicing elit. Ipsam cum, voluptate vero, blanditiis voluptatum aut consectetur et in quam rem adipisci delectus enim quod a laudantium perferendis ad possimus culpa?</p>
</div>
</div>