<div class="plan">
  <div class="details-container">
    <div class="plan-header">
      <h3 class="plan-heading">
        {{package.planName}}
      </h3>
    </div>
    <!-- <ul class="plan-feature">
      <li *ngFor="let descriptionPoint of package.descriptionList">
        {{descriptionPoint}}
      </li>
    </ul> -->
    <div class="plan-feature">
      {{package.description}}
    </div>
  </div>
  <!-- <p class="amount-container">
    <span class="plan-amount">Starting &#8377; {{package.amount}}/- onwards</span>
  </p> -->
  <button class="plan-choose" (click)="planClickHandler($event)">
    Get Started
  </button>
</div>