<div class="plan">
  <div class="details-container">
    <div class="plan-header">
      <h3 class="plan-heading">
        {{package.heading}}
      </h3>
    </div>
    <ul class="plan-feature">
      <li *ngFor="let descriptionPoint of package.descriptionList">
        {{descriptionPoint}}
      </li>
    </ul>
  </div>
  <p class="amount-container">
    <span class="plan-amount">{{package.amount}}&#8377;</span>
    <span class="plan-duration">/month</span>
  </p>
  <button class="plan-choose" (click)="planClickHandler($event)">
    Add to cart
  </button>
</div>