<div class="plan">
    <div class="plan-header">
      <h3 class="plan-heading">Enterprise</h3>
      <!--     <button class="plan-save"> Save $40</button> -->
    </div>
    <ul class="plan-feature">
      <li>Upload Video with HD
        Resolution</li>
      <li>Attachment & Post Scheduling</li>
      <li>Set your rates</li>
      <li>Exclusive Deals</li>
      <li>Advanced Statistics</li>
    </ul>
    <p>$<span class="plan-amount">123</span> <span class="plan-duration">/month</span></p>
    <button class="plan-choose"> Choose </button>
  </div>

