@import '../../styles.scss';

.main-window-container {
    background-color: $backgroundColor;
    height: 100%;
    font-family: $fontFamily !important;
    .main-header-wrapper-container {
        height: 5rem;
    }
    .main-screen-wrapper-container {
        height: calc(100% - 5rem);
        .main-footer-wrapper-container {
            
        }
    }
}