<div class="main-window-container">

    <!-- UI loader component to show loader while loading data in list. -->
    <ngx-ui-loader [loaderId]="MAIN_LAODER_ID"></ngx-ui-loader>

    <div class="main-header-wrapper-container">
        <sevenx-header></sevenx-header>
    </div>
    <div id='mainScrollableWindowContianer' class="main-screen-wrapper-container vertical-scroll">
        <div class="">
            <router-outlet></router-outlet>
        </div>
        <div class="main-footer-wrapper-container">
            <sevenx-footer></sevenx-footer>
        </div>
    </div>
</div>