@import "../../../../custom-theme.scss";

.sevenx-my-documents-container {
    .sevenx-my-document-template-container {
        // display: flex;
        overflow: visible;
        // flex-wrap: wrap;
        .sevenx-document-card-template-container {
            box-shadow: $panelBoxShadow;
            border-radius: $borderRadius;
            margin-bottom: 1rem;
            // margin-right: 1rem;
            // width: 48%;
            // &:nth-child(2n) {
            //     margin-right: 0;
            // }
            .sevenx-document-card-container {
                height: 100%;
                width: 100%;
                cursor: pointer;
                padding: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .sevenx-document-card-document-name {
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: $textColor;
                }
                .sevenx-document-card-document-for {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #929292;
                }
            }
            &:hover {
                .sevenx-document-card-container {
                    .sevenx-document-card-document-name {
                        cursor: pointer;
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}
