@import "../../../../custom-theme.scss";

.sevenx-my-documents-container {
    .sevenx-my-document-template-container {
        display: flex;
        overflow: visible;
        flex-wrap: wrap;
        .sevenx-document-card-template-container {
            margin: 0.75rem 0.5rem;
            box-shadow: $panelBoxShadow;
            height: 10rem;
            width: 8rem;
            .sevenx-document-card-container {
                height: 100%;
                width: 100%;
                cursor: pointer;

                text-align: center;
                padding-top: 25%;
                padding-bottom: 25%;
                .sevenx-document-card-document-name {
                    font-size: 1.8rem;
                    font-weight: 600;
                    width: 100%;

                    // padding-top: 25%;
                    color: $textColor;
                }
                .sevenx-document-card-document-for {
                    font-size: 1.2rem;
                    font-weight: 500;
                    width: 100%;
                    color: #929292;
                }
            }
            &:hover {
                .sevenx-document-card-container {
                    .sevenx-document-card-document-name {
                        cursor: pointer;
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}
