@import "../../../../custom-theme.scss";

.sevenx-my-documents-container {
    .sevenx-my-document-template-container {
        overflow: visible;
        .sevenx-document-card-template-container {
            box-shadow: $panelBoxShadow;
            border-radius: $borderRadius;
            margin-bottom: 1rem;
            .sevenx-document-card-container {
                height: 100%;
                width: 100%;
                cursor: pointer;
                padding: 1rem;
                .sevenx-document-card-document-name-container {
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: $textColor;
                    .sevenx-document-card-document-for-container {
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: #929292;
                        span {
                            color: $textColor;
                        }
                    }
                }
                .sevenx-document-card-document-screen-name-container {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: #929292;
                    padding-top: 1rem;
                    span {
                        color: $textColor;
                    }
                }
            }
            &:hover {
                .sevenx-document-card-container {
                    .sevenx-document-card-document-name-container {
                        cursor: pointer;
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}
