<section class="steps-container text-center pos-r">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10 ml-auto mr-auto">
        <div class="section-title">
          <div class="title-effect">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
          </div>
          <p class="subtitle">How It Work</p>
          <h2 class="title">Three Simple Step To Started Working Process</h2>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-3 col-md-12">
        <div class="work-process">
          <div class="box-loader"> <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="step-num-box">
            <div class="step-icon"><span><i class="fa fa-lightbulb-o"></i></span>
            </div>
            <div class="step-num">01</div>
          </div>
          <div class="step-desc">
            <h4>Research Project</h4>
            <p class="mb-0">Nostrud exercitat ullamco lorem ipsum dolor sit amet, consece adipising elit, sed doeo
              eiusmod</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 md-mt-5">
        <div class="work-process">
          <div class="box-loader"> <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="step-num-box">
            <div class="step-icon"><span><i class="fa fa-rocket"></i></span>
            </div>
            <div class="step-num">02</div>
          </div>
          <div class="step-desc">
            <h4>Targeting</h4>
            <p class="mb-0">Nostrud exercitat ullamco lorem ipsum dolor sit amet, consece adipising elit, sed doeo
              eiusmod</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 md-mt-5">
        <div class="work-process">
          <div class="box-loader"> <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="step-num-box">
            <div class="step-icon"><span><i class="fa fa-check-square"></i></span>
            </div>
            <div class="step-num">03</div>
          </div>
          <div class="step-desc">
            <h4>Result</h4>
            <p class="mb-0">Nostrud exercitat ullamco lorem ipsum dolor sit amet, consece adipising elit, sed doeo
              eiusmod</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 md-mt-5">
        <div class="work-process">
          <div class="step-num-box">
            <div class="step-icon"><span><i class="fa fa-lightbulb-o"></i></span>
            </div>
            <div class="step-num">04</div>
          </div>
          <div class="step-desc">
            <h4>Research Project</h4>
            <p class="mb-0">Nostrud exercitat ullamco lorem ipsum dolor sit amet, consece adipising elit, sed doeo
              eiusmod</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 50px">

      <div class="col-lg-1-5">

      </div>
      <div class="col-lg-3 col-md-12">
        <div class="work-process">
          <div class="box-loader"> <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="step-num-box">
            <div class="step-icon"><span><i class="fa fa-rocket"></i></span>
            </div>
            <div class="step-num">05</div>
          </div>
          <div class="step-desc">
            <h4>Targeting</h4>
            <p class="mb-0">Nostrud exercitat ullamco lorem ipsum dolor sit amet, consece adipising elit, sed doeo
              eiusmod</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <div class="work-process">
          <div class="box-loader"> <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="step-num-box">
            <div class="step-icon"><span><i class="fa fa-rocket"></i></span>
            </div>
            <div class="step-num">06</div>
          </div>
          <div class="step-desc">
            <h4>Targeting</h4>
            <p class="mb-0">Nostrud exercitat ullamco lorem ipsum dolor sit amet, consece adipising elit, sed doeo
              eiusmod</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 md-mt-5">
        <div class="work-process">

          <div class="step-num-box">
            <div class="step-icon"><span><i class="fa fa-rocket"></i></span>
            </div>
            <div class="step-num">07</div>
          </div>
          <div class="step-desc">
            <h4>Targeting</h4>
            <p class="mb-0">Nostrud exercitat ullamco lorem ipsum dolor sit amet, consece adipising elit, sed doeo
              eiusmod</p>
          </div>
        </div>
      </div>
      <div class="col-lg-1-5">

      </div>
    </div>
  </div>
</section>