<main class="content-width-resolution-wise digital-marketing-container">
        <!-- Hero -->
        <section class="section section-header text-dark pb-md-8">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center mb-5 mb-md-7 header">
                        <h1 class="display-2 font-weight-bolder mb-4">
                            Digital Marketing
                        </h1>
                        <p class="lead mb-4 mb-lg-5">
                            Our ultimate motto is "fulfill the demand of the buyers by making them satisfied with proper file"
                        </p>
                        
                    </div>
                    <div class="col-12 col-md-10 mb-4 justify-content-center">
                        <img class="d-md-inline-block" src="assets/img/illustrations/scene.svg" alt="Mobile App Mockup">
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg py-0 digital-content-section">
            <div class="container">
                <div class="row analytics">
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="card border-0 bg-white text-center p-1">
                            <div class="card-header bg-white border-0 pb-0">
                                <div class="icon icon-lg icon-primary mb-4">
                                    <span class="fa fa-4x fa-group"></span>
                                </div>
                                <!-- <h2 class="h3 text-dark m-0">Grow Your Traffix</h2> -->
                                <h2 class="h3 text-dark m-0">
                                    INITIAL ANALYSIS AND QUALIFICATION
                                </h2>
                            </div>
                            <div class="card-body">
                                <p>
                                    ‍✅ We send you a quick questionnaire to help us understand your requirements
                                </p>
                                <p>
                                    ✅ Analyze your existing content and backlinks
                                </p>
                                <p>
                                    ✅ Analyze your competitive space
                                </p>
                                <p>
                                    ✅ If we are a good fit we move on to the planning phase
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="card border-0 bg-white text-center p-1">
                            <div class="card-header bg-white border-0 pb-0">
                                <div class="icon icon-lg icon-primary mb-4">
                                    <span class="fa fa-4x fa-map-marker"></span>
                                </div>
                                <!-- <h2 class="h3 text-dark m-0">
                                    Get Queality leads
                                </h2> -->
                                <h2 class="h3 text-dark m-0">
                                    STRATEGY AND EXECUTION PLAN
                                </h2>
                            </div>
                            <div class="card-body">
                                <!-- <p>
                                    Get real-time delivery updates from cart to home in one place.                 
                                </p> -->
                                <p>
                                    ✅ Presenting a detailed strategy based on our findings
                                </p>
                                <p>
                                    ✅ Setup calls to fine-tune the strategy based on your feedback
                                </p>
                                <p>
                                    ✅ Once you are happy with the plan we move to the execution stage
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card border-0 bg-white text-center p-1">
                            <div class="card-header bg-white border-0 pb-0">
                                <div class="icon icon-lg icon-primary mb-4">
                                    <span class="fa fa-4x fa-arrow-circle-o-up"></span>
                                </div>
                                <!-- <h2 class="h3 text-dark m-0">Drive More Sales</h2> -->
                                <h2 class="h3 text-dark m-0">
                                    GETTING STARTED
                                </h2>
                            </div>
                            <div class="card-body">
                                <!-- <p>
                                    Upgrade with personal settings from your favorite stores.                
                                </p> -->
                                <p>
                                    ‍✅ Assigning the Sidekick (Single Point of Contact) for your project
                                </p>
                                <p>
                                    ✅ Setting up a Tracker for you to track the progress of your project
                                </p>
                                <p>
                                    ✅ Slaying all the evils to rank you on the top of search results
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg" id="about">
            <div class="container">
                <div class="row justify-content-center about-1">
                    <div class="col-12 col-lg-8 text-center">
                        <h2 class="h1 mb-4">Better in every way</h2>
                        <p class="lead">Self-Service Analytics or ad hoc reporting gives users the ability to develop rapid reports, empowering users to analyze their data.</p>
                    </div>
                </div>
                <div class="row row-grid align-items-center mb-5 mb-lg-7">
                    <div class="col-12 col-lg-5">
                        <h2 class="mb-4">A thoughtful way to marketing</h2>
                        <p>Simpler App remembers your important details, so you can fill carts, not forms. And everything is encrypted so you can speed safely through checkout.</p>
                        <p>Now, you can offset the carbon emissions produced by your deliveries—for free. All you have to do is check out with Shop Pay, one of the first carbon-neutral way to pay.</p>
                        <a href="#" class="btn btn-dark mt-3 animate-up-2">
                            Learn More
                            <span class="icon icon-xs ml-2">
                                <i class="fa fa-external-link-alt"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 ml-lg-auto">
                        <img src="assets/img/illustrations/scene-3.svg" class="w-100" alt="container">
                    </div>
                </div>
                <div class="row row-grid align-items-center mb-5 mb-lg-7 sweat-section">
                    <div class="col-12 col-lg-5 order-lg-2">
                        <h2 class="mb-4">Get it. Don't sweat it.</h2>
                        <p>We track your desktop and mobile keyword rankings from any location and plot your full ranking history on a handy graph.</p>
                        <p>You can set up automated ranking reports to be sent to your email address, so you’ll never forget to check your ranking progress.</p>
                        <a href="#" class="btn btn-dark mt-3 animate-up-2">
                            Learn More
                            <span class="icon icon-xs ml-2">
                                <i class="fa fa-external-link-alt"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 mr-lg-auto">
                        <img src="assets/img/illustrations/scene-2.svg" class="w-100" alt="container">
                    </div>
                </div>
                <div class="row numbers-section">
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card border-medium p-4">
                            <div class="card-body">
                                <h2 class="display-2 mb-2">98%</h2>
                                <span>Average satisfaction rating received in the past year.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card border-medium p-4">
                            <div class="card-body">
                                <h2 class="display-2 mb-2">24/7</h2>
                                <span> Our support team is a quick chat or email away.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card border-medium p-4">
                            <div class="card-body">
                                <h2 class="display-2 mb-2">220k+</h2>
                                <span>Extension installs from the two major mobile app stores.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section section-lg pb-0" id="testimonials">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center mb-5 mb-lg-6">
                        <h2 class="display-3 mb-4">Customers love it</h2>
                        <p class="lead">The final result of our formula at work. Check out what our clients <br class="d-none d-lg-inline-block"> have to say about our mobile app and our support team.</p>
                    </div>
                </div>
                <div class="row mt-lg-6">
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="card border-medium">
                            <div class="card-body text-center py-5">
                                <img class="image-sm img-fluid mx-auto mb-3" src="assets/img/clients/pbt365.png" alt="Airbnb brand">
                                <span class="d-block">
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star-o text-warning"></span>
                                </span>
                                <p class="px-2 my-4">
                                    The sevenX platform is super easy to use and will be a reliable backbone of your business! It is fantastic to deal with when it comes to legal compliances.
                                </p>
                                <a href="#" class="btn btn-link text-black">
                                    <span class="mr-2"><span class="fa fa-book-open"></span></span> 
                                    <span class="font-weight-bold">Read story</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="card border-medium mt-lg-n6">
                            <div class="card-body text-center py-5">
                                <img class="image-sm img-fluid mx-auto mb-3" src="assets/img/clients/finlite-tech.png" alt="Corsair brand">
                                <span class="d-block">
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star-o text-warning"></span>
                                </span>
                                <p class="px-2 my-4">
                                    The sevenX platform is super easy to use and will be a reliable backbone of your business! It is fantastic to deal with when it comes to legal compliances.
                                </p>
                                <a href="#" class="btn btn-link text-black">
                                    <span class="mr-2"><span class="fa fa-book-open"></span></span> 
                                    <span class="font-weight-bold">Read story</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="card border-medium">
                            <div class="card-body text-center py-5">
                                <img class="image-sm img-fluid mx-auto mb-3" src="assets/img/clients/travel-buddy.png" alt="Paypal brand">
                                <span class="d-block">
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star text-warning"></span>
                                    <span class="star fa fa-star-o text-warning"></span>
                                </span>
                                <p class="px-2 my-4">
                                    The sevenX platform is super easy to use and will be a reliable backbone of your business! It is fantastic to deal with when it comes to legal compliances.
                                </p>
                                <a href="#" class="btn btn-link text-black">
                                    <span class="mr-2"><span class="fa fa-book-open"></span></span> 
                                    <span class="font-weight-bold">Read story</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="section bg-soft download-section" id="download">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-12 col-lg-6">
                        <span class="h5 text-muted mb-2 d-block">Grow Your Business With Us</span>
                        <h2 class="display-3 mb-4">Get started in seconds</h2>
                        <p class="lead text-muted">Quickly connect to tools and services such as Google Analytics, Intercom or Github to track, measure and optimize performance. </p>
                    </div>
                    <div class="col-12 col-lg-5 ml-lg-auto">
                        <img class="d-lg-inline-block" src="./assets/img/illustrations/scene-3.svg" alt="Mobile App Illustration">
                    </div>
                </div>
            </div>
        </div>
    </main>