<div class="login-main-container height100 width100">
  <sevenx-login-wrapper [openFrom]="googleAuthorizationOpenedFrom" [isOpenAsModal]="isOpenAsModal"
    (eSocialUser)="solialUserHandler($event)">
    <div class="login-signup-content-container">
      <div class="login-signup-header-container">
        <div class="login-signup-header-main-text-container">
          Sign in
        </div>
        <div class="login-signup-header-other-text-container">
          or <span class="link-text-hover-container" (click)="changeLoginType()">create an account</span>
        </div>
      </div>
      <div class="login-signup-form-container">
        <form appFormGroup [formGroup]="loginForm">
          <mat-form-field appFormField="Email" class="form-field-container" appearance="fill">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
          <mat-form-field appFormField="Password" class="form-field-container" appearance="fill">
            <input matInput #passwordInputElement type="password" formControlName="password" placeholder="Password">
            <span *ngIf="passwordInputElement.type === 'password'" class="form-field-label-icon-container fa fa-eye" (click)="changePasswordControlType('text', passwordInputElement)"></span>
            <span *ngIf="passwordInputElement.type === 'text'" class="form-field-label-icon-container fa fa-eye-slash" (click)="changePasswordControlType('password', passwordInputElement)"></span>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="logIn()">Sign in</button>
        <button mat-button color="primary">Forgot password?</button>
      </div>
    </div>
  </sevenx-login-wrapper>
</div>