<div class="startup-registrations-form-container">
    <form [formGroup]="baseForm" class="startup-registrations-form">
        <div class="form-field-container">
            <input type="file" (change)="onDocumentChange($event)">
        </div>
        <div class="form-field-container">
            <input type="text" formControlName="documentTitle" placeholder="Document Title">
        </div>
        <div class="form-field-container">
            <input type="text" formControlName="documentFor" placeholder="Document For">
        </div>
    </form>
    <button mat-raised-button color="primary" (click)="uploadDocument()">Upload</button>
</div>