<div class="startup-registrations-form-container">
    <form appFormGroup [formGroup]="baseForm" class="startup-registrations-form">
        <div class="width50">
            <div class="form-field-container mat-form-field">
                <input type="file" (change)="onDocumentChange($event)">
            </div>
        </div>
        <div class="width50">
            <mat-form-field appFormField="Document Title" class="form-field-container" appearance="fill">
                <input matInput formControlName="documentTitle" placeholder="Document Title">
            </mat-form-field>
        </div>
        <div class="width50">
            <mat-form-field appFormField="Document For" class="form-field-container" appearance="fill">
                <input matInput formControlName="documentFor" placeholder="Document For">
            </mat-form-field>
        </div>
        <div class="width50">
            <mat-form-field appFormField="Service" class="form-field-container" appearance="fill">
                <input matInput #ScreenNameInputElement
                    autocomplete="off" [matAutocomplete]="screenNameAuto"
                    placeholder="Select"
                    (keyup)="screenNameInputChangeHandler(ScreenNameInputElement.value)"
                    formControlName="screenName">
                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                <mat-autocomplete #screenNameAuto="matAutocomplete" [displayWith]="displayWithScreenNameFn"
                    (opened)="screenNameInputChangeHandler('')" (closed)="screenNameFieldCloseHandler(ScreenNameInputElement)">
                    <mat-option disabled *ngIf="!(filteredScreenList && filteredScreenList.length)">No Data Found</mat-option>
                    <ng-container *ngIf="filteredScreenList && filteredScreenList.length">
                        <mat-option *ngFor="let option of filteredScreenList" [value]="option">{{option.screenName}}</mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </form>
    <button mat-raised-button color="primary" (click)="uploadDocument()">Upload</button>
</div>