@import '../../../../custom-theme.scss';

.sevenx-account-setting-container {
    .form-field-container {
        input {
            margin-left: 10px;
            &.mat-input-element:disabled {
                cursor: not-allowed;
                background-color: rgba(0, 0, 0, 0.1);
                color: $textColor;
            }
        }
    }
    .sevenx-account-setting-personal-details-container {
        .sevenx-personal-details-header-container {
        }
        .sevenx-personal-details-form-fields-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .sevenx-account-setting-change-password-container {
        .sevenx-change-password-header-container {
        }
        .sevenx-change-password-form-fields-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .sevenx-account-setting-billing-details-container {
        .sevenx-billing-details-header-container {
        }
        .sevenx-billing-details-form-fields-container {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .form-field-container.width50 {
        width: 50% !important;
    }
}
