.order-list-main-container {
    padding: 1rem 3rem;
    .order-list-header-container {
        font-size: 24px;
        font-weight: 700;
        padding-left: 1rem;
    }
    .order-list-created-date-column-container {
        width: calc(100% / 8);
    }
    .order-list-name-column-container {
        width: calc(100% / 8);
    }
    .order-list-email-column-container {
        width: calc(100% / 8);
    }
    .order-list-contact-number-column-container {
        width: calc(100% / 8);
    }
    .order-list-state-column-container {
        width: calc(100% / 8);
    }
    .order-list-order-status-column-container {
        width: calc(100% / 8);
    }
    .order-list-transaction-status-column-container {
        width: calc(100% / 8);
    }
    .order-list-order-total-column-container {
        width: calc(100% / 8);
    }
}