@import "src/custom-theme.scss";

.reviews-container {
  margin-top: 100px;
  text-align: center;

  h2 {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;

  }

  .subtitle {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #6c6c6c;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .carousel {
    height: 460px !important;
  }

  .carousel-cell {
    width: 100%;
    border-radius: 24px;
  }

  @media screen and (max-width: 769px) {
    h1 {
      font-size: 22px;
      text-align: center;
    }

    .divider {
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}
