<div class="reviews-container">
    <h2>Testimonials</h2>
    <p class="subtitle">See what our customers say about us</p>
    <carousel
        [cellWidth]="300"
    >
        <div class="carousel-cell">
            <sevenx-card></sevenx-card>
        </div>
        <div class="carousel-cell">
            <sevenx-card></sevenx-card>
        </div>
        <div class="carousel-cell">
            <sevenx-card></sevenx-card>
        </div>
        <div class="carousel-cell">
            <sevenx-card></sevenx-card>
        </div>
        <div class="carousel-cell">
            <sevenx-card></sevenx-card>
        </div>
    </carousel>
</div>