<div class="cart-main-container content-width-resolution-wise">
    <div class="cart-details-panel-container">
        <div class="cart-details-panel-header">
            My Cart
        </div>
        <hr>
        <div class="cart-details-panel-body">
            <ng-container *ngIf="packagesList && packagesList.length; else emptyCartContainer">
                <ng-container *ngTemplateOutlet="cartDetailsTemplate">
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #emptyCartContainer>
    <div class="empty-cart-container">
        <div class="empty-cart-icon-container">
            <mat-icon>shopping_cart</mat-icon>
            <!-- <ng-lottie [options]="emptyCartLottie" (animationCreated)="animationCreated($event)">
            </ng-lottie> -->
        </div>
        <div class="empty-cart-title-container">
            Cart is Empty!
        </div>
    </div>
</ng-template>

<ng-template #cartDetailsTemplate>
    <div class="cart-details-template-wrapper">
        <div class="multiple-cart-details-container">
            <div *ngFor="let package of packagesList" class="cart-detail-container">
                <sevenx-cart-details [package]="package" (eRefreshCart)="fetchCartDetails()">
                </sevenx-cart-details>
            </div>
        </div>
        <div class="cart-total-billing-container">
            <ng-container *ngTemplateOutlet="totalBilingTemplate">
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #totalBilingTemplate>
    <div class="total-billing-template-wrapper">
        <!-- <div class="total-billing-cart-collection-checkboxs-container">
            <input class="total-billing-checkbox" type="checkbox" [(ngModel)]="isCartDone">
            <input class="total-billing-checkbox" type="checkbox" [(ngModel)]="isPaymentDone">
        </div> -->
        <div class="total-billing-cart-price-details-container">
            <div class="price-details-header">
                Price Details
            </div>
            <div class="price-details-body">
                <div class="price-details-amount">
                    <span class="label">
                        Total
                    </span>
                    <span class="value">
                        &#8377; {{cartDetails.subTotal}}
                    </span>
                </div>
                <div class="price-details-amount">
                    <span class="label">
                        GST
                    </span>
                    <span class="value">
                        &#8377; {{cartDetails.gstAmount}}
                    </span>
                </div>
            </div>
        </div>
        <hr>
        <div class="total-billing-cart-price-details-total-price-container">
            <span class="label">
                Order Total
            </span>
            <span class="value">
                &#8377; {{cartDetails.orderTotal}}
            </span>
        </div>
        <div class="total-billing-cart-price-details-place-order-container">
            <button mat-raised-button color="primary" class="gitdemo-button" type="submit"
                (click)="placeOrderClickHandler($event)">
                Place Order
            </button>
        </div>
    </div>
</ng-template>

<sevenx-stripe #stripeComponent (eToken)="stripeTokenHandler($event)">
</sevenx-stripe>