<div class="cart-main-container content-width-resolution-wise">
    <div class="cart-details-panel-container">
        <div class="cart-details-panel-header">
            <span>My Cart</span>            
        </div>
        <div class="cart-details-panel-body">
            <ng-container *ngIf="packagesList && packagesList.length; else emptyCartContainer">
                <ng-container *ngTemplateOutlet="cartDetailsTemplate">
                </ng-container>
                <sevenx-billing-details>
                </sevenx-billing-details>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #emptyCartContainer>
    <div class="empty-cart-container">
        <div class="empty-cart-icon-container">
            <!-- <mat-icon>shopping_cart</mat-icon> -->
            <ng-lottie [options]="emptyCartLottie"></ng-lottie>
        </div>
        <div class="empty-cart-title-container">
            Cart is Empty!
        </div>
    </div>
</ng-template>

<ng-template #cartDetailsTemplate>
    <div class="cart-details-template-wrapper">
        <ng-container *ngTemplateOutlet="cartTotalBillingHeaderTemplate"></ng-container>
        <div class="multiple-cart-details-container">
            <div *ngFor="let package of packagesList" class="cart-detail-container">
                <sevenx-cart-details [package]="package">
                </sevenx-cart-details>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #cartTotalBillingHeaderTemplate>
    <div class="cart-total-billing-header-container">
        <div class="cart-total-item-count-container">
            {{ cartDetails.cartTotalCount }}
            <span *ngIf="cartDetails.cartTotalCount > 1"> items Added</span>
            <span *ngIf="cartDetails.cartTotalCount === 1"> item Added</span>
        </div>
        <!-- <div class="cart-total-item-amount-container">
            Total: &#8377; {{cartDetails.orderTotal}}/-
        </div> -->
    </div>
</ng-template>