<section class="coming-soon-container d-flex align-items-center content-width-resolution-wise">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Coming Soon....</h1>
        </div>
        <div class="col-lg-6 coming-soon-container-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets\hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
</section>