<div class="startup-registrations-form-container">
    <!-- <div class="startup-registration-form-title-container">
        Get Free Consultancy
    </div> -->
    <form [formGroup]="baseForm" class="startup-registrations-form">
        <mat-form-field *ngIf="isOpenFromContact" class="form-field-container" appearance="fill">
            <input type="text"
                    matInput
                    formControlName="screenName"
                    placeholder="Select Once"
                    [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredScreenList | async" [value]="option">
                {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="form-field-container">
            <input type="text" formControlName="name" placeholder="Name">
        </div>
        <div class="form-field-container">
            <input type="email" formControlName="email" placeholder="Email">
        </div>
        <div class="form-field-container">
            <input type="tel" formControlName="contactNo" placeholder="Contact Number">
        </div>
    </form>
    <button *ngIf="!isOpenFromContact" mat-raised-button color="primary" (click)="registerClickHandler()">Get Started</button>
    <button *ngIf="isOpenFromContact" mat-raised-button color="primary" (click)="registerClickHandler()">Get Free Consultancy</button>
</div>