<div class="startup-registrations-form-container">
    <!-- <div class="startup-registration-form-title-container">
        Get Free Consultancy
    </div> -->
    <form appFormGroup [formGroup]="baseForm" class="startup-registrations-form">
        <mat-form-field appFormField="Service" *ngIf="isOpenFromContact" class="form-field-container" appearance="fill">
            <input matInput #ScreenNameInputElement
                autocomplete="off" [matAutocomplete]="auto"
                placeholder="Select Once"
                (keyup)="screenNameInputChangeHandler(ScreenNameInputElement.value)"
                formControlName="screenName">
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWithScreenNameFn"
                (opened)="screenNameInputChangeHandler('')" (closed)="screenNameFieldCloseHandler(ScreenNameInputElement)">
                <mat-option disabled *ngIf="!(filteredScreenList && filteredScreenList.length)">No Data Found</mat-option>
                <ng-container *ngIf="filteredScreenList && filteredScreenList.length">
                    <mat-option *ngFor="let option of filteredScreenList" [value]="option">{{option.screenName}}</mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appFormField="Name" class="form-field-container" appearance="fill">
            <input matInput formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-form-field appFormField="Email" class="form-field-container" appearance="fill">
            <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field appFormField="Contact Number" class="form-field-container" appearance="fill">
            <input matInput type="tel" formControlName="contactNo" placeholder="Contact Number">
        </mat-form-field>
        <mat-form-field class="form-field-container" appearance="fill">
            <input matInput #stateInputElement
                autocomplete="off" [matAutocomplete]="auto"
                placeholder="State"
                (keyup)="stateInputChangeHandler(stateInputElement.value)"
                formControlName="state">
            <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
            <mat-autocomplete #auto="matAutocomplete"
                (opened)="stateInputChangeHandler('')" (closed)="stateFieldCloseHandler(stateInputElement)">
                <mat-option disabled *ngIf="!(filteredStateList && filteredStateList.length)">No Data Found</mat-option>
                <ng-container *ngIf="filteredStateList && filteredStateList.length">
                    <mat-option *ngFor="let option of filteredStateList" [value]="option">{{option}}</mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <div *ngIf="selectedScreenPackage" class="startup-registration-form-plan-amount-container">
        Starting &#8377; {{selectedScreenPackage.amount}}/- onwards
    </div>
    <button *ngIf="!isOpenFromContact" mat-raised-button color="primary" (click)="registerClickHandler()">Get Started</button>
    <button *ngIf="isOpenFromContact" mat-raised-button color="primary" (click)="registerClickHandler()">Get Free Consultancy</button>
</div>