@import '../../../../custom-theme.scss';

.startup-registrations-form-container {
    .startup-registration-form-title-container {
        padding: 1rem;
        text-align: center;
        background-color: $primaryColor;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        color: $lightTextColor;
        font-weight: 700;
        font-family: $fontFamily;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
    }
    .startup-registrations-form {
        display: flex;
        flex-wrap: wrap;
        overflow: visible;
        padding: 10%;
        padding-bottom: 0;
        .form-field-container {
            width: 100%;
        }
    }
    .startup-registration-form-plan-amount-container {
        font-size: 24px;
        font-weight: 700;
        font-family: $fontFamily;
        padding: 0.5rem 0 1rem;
    }
    button {
        width: 50%;
        margin: 0;
        padding: 0.3rem;
        margin-bottom: 1.5rem;
    }
}
