<div class="about-us-home-wrapper">
    <div class="about-us-home-header">
        <h2>About Us</h2>
    </div>
    <div class="about-us-home-content">
        sevenX is India's leading online business services platform dedicated to assist entrepreneurs easily start and grow the business at affordable cost. We have rendering quality services from planning to setting up the business by fulfilling all legal and regulatory requirements. We ensure that our clients are operating at the highest level of efficiency. We continually upgrade ourselves to improve our services and customer satisfaction.
    </div>
    <div class="about-us-home-read-more">
        <!-- <button mat-raised-button color="primary" [routerLink]="['/about-us']"> -->
        <button mat-button color="primary" [routerLink]="['/about-us']">
            Read More
        </button>
    </div>
</div>