<div class="about-us-home-wrapper">
    <div class="about-us-home-header">
        <h2>About Us</h2>
    </div>
    <div class="about-us-home-content-container">
        <div class="about-us-home-content-left-container">
            <p>
                7xStartup is India's leading online business services platform dedicated to assist entrepreneurs easily start and grow the business at affordable cost. We have rendering quality services from planning to setting up the business by fulfilling all legal and regulatory requirements. We ensure that our clients are operating at the highest level of efficiency. We continually upgrade ourselves to improve our services and customer satisfaction.
            </p>
        </div>
        <div class="about-us-home-content-right-container">
            <ng-lottie [options]="aboutUsHomeAnimationOption"></ng-lottie>
        </div>
    </div>
</div>