// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// // // @import '~@angular/material/theming';
@import '../node_modules/@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primayColor: #7C6FF5;
$primary: (
  50: $primayColor,
  100: $primayColor,
  200: $primayColor,
  300: $primayColor,
  400: $primayColor,
  500: $primayColor,
  600: $primayColor,
  700: $primayColor,
  800: $primayColor,
  900: $primayColor,
  A100: $primayColor,
  A200: $primayColor,
  A400: $primayColor,
  A700: $primayColor,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$sevenx-primary: mat-palette($primary);
$sevenx-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$sevenx-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sevenx-theme: mat-light-theme($sevenx-primary, $sevenx-accent, $sevenx-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sevenx-theme);