.form-field-error-container {
    margin-top: -1.3rem;
    font-size: 0.75rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    .mat-icon {
        font-size: 15px;
        height: 1rem;
        width: 1rem;
        padding-right: 18px;
        line-height: .8;
        vertical-align: bottom;
    }
}