@import "src/custom-theme.scss";

.card-details-container {
    margin: 2rem 0;
    box-shadow: $panelBoxShadow;
    transition: transform 0.5s;
    padding: 1rem;
    border-radius: $borderRadius;
    &:hover {
      transform: scale(1.025);
    }
    &:first-child {
        margin-top: 1rem;
    }
    // .card-details-content-amount-container {
    //     display: flex;
    //     .card-details-content-container {
    //         width: 85%;
    //         .card-details-content-header-container {
    //             .card-details-content-plan-name {
    //             }
    //         }
    //         .card-details-content-body-container {
    //         }
    //         .plus-minus-container {
    //         }
    //     }
    //     .card-details-content-plan-amount {
    //         width: 15%;
    //     }
    // }
    .card-header-container {
        display: flex;
        justify-content: space-between;
        font-size: 22px;
        font-weight: 600;
    }
    .card-description-container {
        padding: 0.5rem 0;
    }
    .card-actions-container {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    }
}
